{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Mijozlar qarzlari{% endblock %}

{% block css %}
  <link href="{% static 'director/plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'director/plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css">
{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: space-between;">
        <h3>Mijozlar qarzlari</h3>
{#        <h5 class="mr-5" style="display: flex; color: #ac0;">Jami qarzlar:#}
{#            <div class="ml-4">#}
{#                <h5 style="color: #ac0;">#}
{#                    {% if loan_sum %}#}
{#                        {{ loan_sum|intcomma }} so'm#}
{#                    {% endif %}#}
{#                </h5>#}
{#                <h5 style="color: #ac0;">#}
{#                    {% if loan_dollar %}#}
{#                        {{ loan_dollar|intcomma }} $#}
{#                    {% endif %}#}
{#                </h5>#}
{#            </div>#}
{#        </h5>#}
    </div>

    <!-- FILIAL TANLASH -->

    <!-- FILIAL TANLASH -->

{#    <div class="card radius-15">#}
{#        <div class="card-body">#}
{#            <div class="card-title">#}
{#            </div>#}
{#            <hr/>#}
{##}
{#             <div class="form-group" style="display: flex; justify-content: flex-START;">#}
{##}
{#                <div class="form-group mr-2">#}
{#                    <!-- data -->#}
{#                    <a href="{% url 'customer_debt' %}?period=daily" class="btn btn-light">Kunlik</a>#}
{#                </div>#}
{#                <div class="form-group mr-2">#}
{#                    <!-- data -->#}
{#                    <a href="{% url 'customer_debt' %}?period=weekly" class="btn btn-light">Haftalik</a>#}
{#                </div>#}
{#                <div class="form-group mr-2">#}
{#                    <!-- data -->#}
{#                    <a href="{% url 'customer_debt' %}?period=monthly" class="btn btn-light">Oylik</a>#}
{#                </div>#}
{#                <div class="form-group mr-2">#}
{#                    <!-- data -->#}
{#                    <a href="{% url 'customer_debt' %}?period=yearly" class="btn btn-light">Yillik</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


     <div class="radius-15 mt-3 p-3 mb-3" style="background: #343a40;display: flex;width: 100%;justify-content: space-between;align-items: center">

        <div class=""  style="width: 45%">
            <div class="card-title">
                <h4 class="mb-0">Filiallar</h4>
            </div>
             <div class="form-group" style="width:45%">
                <select id="hodimlarFilialTanlash" class="form-control">
                    <option selected value>Barcha filiallar ro'yxati</option>
                    {% for branch in branches %}
                        {% if branch.type_of_branch == "b2c" %}
                            <option value="{{ branch.name }}">{{ branch.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

     <h5 class="ml-5" style="width: 45%;display: flex">
         <p style="">Jami qarzlar:</p>
            <div class="ml-4">
                <h5 style="color: #ac0;">
                    {% if loan_sum %}
                        {{ loan_sum|intcomma }} so'm
                    {% endif %}
                </h5>
                <h5 style="color: #ac0;">
                    {% if loan_dollar %}
                        {{ loan_dollar|intcomma }} $
                    {% endif %}
                </h5>
            </div>
        </h5>


    </div>



    <!-- tables -->
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <h4 class="mb-0">Mijozlar ro'yxati</h4>
            </div>
            <hr/>
            <div class="table-responsive">
                <table class="table table-bordered" id="example">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ism</th>
                        <th scope="col">Filial</th>
                        <th scope="col">Manzili</th>
                        <th scope="col">Telefon raqami</th>
                        <th scope="col">qarzi (so'mda)</th>
                        <th scope="col">qarzi (do'llarda)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        {% if client.client.type == "b2c" %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ client.client.first_name }} {{ client.client.last_name }}</td>
                            <td>{{ client.client.branch.name }}</td>
                            <td>{{ client.client.address }}</td>
                            <td>{{ client.client.phone_1 }}</td>
                            <td>{{ client.loan_sum|intcomma }}</td>
                            <td>{{ client.loan_dollar|intcomma }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'director/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
        <script>
        $(document).ready(function () {
            //Default data table
            $('#example').DataTable({
                "oLanguage": {

                    "sSearch": "Qidiruv:",
                    "sLengthMenu": "Ko’rsatkich _MENU_ talik",
                    "sInfo": "Sahifa _START_ dan _END_ gacha, umumiy _TOTAL_",
                    "oPaginate": {
                        "sFirst": "Birinchi sahifa", // This is the link to the first page
                        "sPrevious": "Oldingi sahifa", // This is the link to the previous page
                        "sNext": "Keyengi sahifa", // This is the link to the next page
                        "sLast": "Oxirgi sahifa" // This is the link to the last page
                    }

                }
            });
        })
    </script>
    <script>
        $(document).ready(function () {
            //Default data table
            var table = $('#example').DataTable();
            var selectVal = $('#hodimlarFilialTanlash').val()
            $('#hodimlarFilialTanlash').on('change', function () {
                table.search(this.value).draw();
            });
            table.search(selectVal).draw();
        })
    </script>
    <script>
        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: true
        }),
            $('.timepicker').pickatime()
    </script>
    <script>
        $(function () {
            $('#date-time').bootstrapMaterialDatePicker({
                format: 'YYYY-MM-DD HH:mm'
            });
            $('#date').bootstrapMaterialDatePicker({
                time: false
            });
            $('#time').bootstrapMaterialDatePicker({
                date: false,
                format: 'HH:mm'
            });
        });
    </script>
{% endblock %}