{% extends 'app/base.html' %}

{% block title %}

{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
		<h3 class="ml-3 mb-3">Xodimlar ish haqqi</h3>
					<!--end breadcrumb-->
					<div class="card">
						<div class="card-body">
							<div class="card-header border-bottom-0" style='display: flex; justify-content: space-between;'>
								<h4 class="mb-3">Saidbek Aliyev Yusufovich</h4>
								<div class="ml-lg-auto mb-2 mb-lg-0 chart4_data">
									<div class="form-group">
										<select id="settingsLavozim" class="form-control">
											<option value="">Yil</option>
											<option value="2021">2021</option>
											<option value="2022">2022</option>
											<option value="2023">2023</option>
										</select>
									</div>
								</div>
							</div>
							<div class="table-responsive">
								<table id="exampleKirimFiliallar" class="table table-striped table-bordered" style="width:100%">
									<thead>
										<tr>
											<th>Oylar</th>
											<th>Ish haqqi</th>
											<th>Bonus</th>
											<th>Qarzi</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Yanvar</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>Fevral</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>Mart</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>Aprel</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>May</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>Iyun</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>Iyul</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>Avgust</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>Sentabr</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>Oktabr</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>Noyabr</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td>Dekabr</td>
											<td>2.500.000</td>
											<td>300.000</td>
											<td>700.000</td>
										</tr>

										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>

										<tr>
											<td>Jami</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>

									</tbody>
								</table>
								<!-- cllose => table -->
							</div>
						</div>
					</div>
{% endblock %}

{% block js %}

{% endblock %}