{% extends 'app/base.html' %}
{% load static %}
{% block title %}Filiallar{% endblock %}

{% block css %}

    <link href="{% static 'provider/assets/plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'provider/assets/plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css">

{% endblock %}


{% block content %}
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">



					</div>
					<!--end breadcrumb-->
					<h4 class="text-uppercase mb-0">Filiallar</h4>
					<hr/>
					<div class="row">

						<!-- filial  -->
						<div class="col-12 col-lg-3" >
							<div class="card radius-15 ">
								<a href="./qoldiq-tovarlar.html">
									<div class="card-body btn-light radius-15" >
										<div class="media align-items-center">
											<div class="media-body">
												<h5 class="mb-0 font-weight-bold">15,600,000 so'm</h5>
												<h5 class="mb-0 font-weight-bold">14.000 do'llar</h5>
												<br>
												<h6 class="mb-0">Filial nomi</h6>
											</div>
											<div class="font-35"><i class='fadeIn animated bx bx-buildings'></i>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>

						<!-- filial  -->
						<div class="col-12 col-lg-3" >
							<div class="card radius-15 ">
								<a href="./qoldiq-tovarlar.html">
									<div class="card-body btn-light radius-15" >
										<div class="media align-items-center">
											<div class="media-body">
												<h5 class="mb-0 font-weight-bold">15,600,000 so'm</h5>
												<h5 class="mb-0 font-weight-bold">14.000 do'llar</h5>
												<br>
												<h6 class="mb-0">Filial nomi</h6>
											</div>
											<div class="font-35"><i class='fadeIn animated bx bx-buildings'></i>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>

						<!-- filial  -->
						<div class="col-12 col-lg-3" >
							<div class="card radius-15 ">
								<a href="./qoldiq-tovarlar.html">
									<div class="card-body btn-light radius-15" >
										<div class="media align-items-center">
											<div class="media-body">
												<h5 class="mb-0 font-weight-bold">15,600,000 so'm</h5>
												<h5 class="mb-0 font-weight-bold">14.000 do'llar</h5>
												<br>
												<h6 class="mb-0">Filial nomi</h6>
											</div>
											<div class="font-35"><i class='fadeIn animated bx bx-buildings'></i>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>

						<!-- filial  -->
						<div class="col-12 col-lg-3" >
							<div class="card radius-15 ">
								<a href="./qoldiq-tovarlar.html">
									<div class="card-body btn-light radius-15" >
										<div class="media align-items-center">
											<div class="media-body">
												<h5 class="mb-0 font-weight-bold">15,600,000 so'm</h5>
												<h5 class="mb-0 font-weight-bold">14.000 do'llar</h5>
												<br>
												<h6 class="mb-0">Filial nomi</h6>
											</div>
											<div class="font-35"><i class='fadeIn animated bx bx-buildings'></i>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>


					</div>
{% endblock %}

{% block js %}
    <script src="{% static 'director/js/widgets.js' %}"></script>
{% endblock %}