{% extends 'app/base.html' %}
{% load static %}

{% block title %}Sotilgan tavar bo'yicha analiz{% endblock %}


{% block css %}
    <link href="{% static 'provider/assets/plugins/datatable/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'provider/assets/plugins/datatable/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css">

{% endblock %}

{% block content %}
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Sotilgan tavar bo'yicha analiz</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->
    <div class="card">
        <div class="card-body">
            <div class="card-title card__title">
                <div class="divka_row">
                    <select id="hodimlarFilialTanlash" class="form-control">
                        <option></option>
                        {% for branch in branches %}
                            <option value="{{ branch.name }}">{{ branch.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="form-group" style="display: flex; justify-content: flex-START;">

                        <div class="form-group mr-2">
                            <!-- data -->
                            <a href="{% url 'analisis_of_goods_sold' %}?period=daily" class="btn btn-light">Kunlik</a>
                        </div>
                        <div class="form-group mr-2">
                            <!-- data -->
                            <a href="{% url 'analisis_of_goods_sold' %}?period=weekly"
                               class="btn btn-light">Haftalik</a>
                        </div>
                        <div class="form-group mr-2">
                            <!-- data -->
                            <a href="{% url 'analisis_of_goods_sold' %}?period=monthly" class="btn btn-light">Oylik</a>
                        </div>
                        <div class="form-group mr-2">
                            <!-- data -->
                            <a href="{% url 'analisis_of_goods_sold' %}?period=yearly" class="btn btn-light">Yillik</a>
                        </div>
                    </div>
                </div>
                <div id="tovar_exel"></div>
            </div>
            <hr/>
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Maxsulot nomi</th>
                        <th>Filial</th>
                        <th>Yetkazib beruvchi</th>
                        <th>Ishlab chiqaruvchi</th>
                        <th>O'lchovi</th>
                        <th>Hozir bor</th>
                        <th>Narxi so'm / $</th>
                        <th>Sotish narxi so'm / $</th>
                        <th>Shtrix kod</th>
                        <th>Sotuv soni</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart_item in cart_items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ cart_item.product.name }}</td>
                            <td>{{ cart_item.product.branch.name }}</td>
                            <td>{{ cart_item.product.deliver.name }}</td>
                            <td>{{ cart_item.product.producer }}</td>
                            <td>{{ cart_item.product.measurement }}</td>
                            <td>{{ cart_item.product.amount }}</td>
                            <td><span>{{ cart_item.product.cost }} </span> {% if cart_item.product.currency == 'sum' %}
                                so'm{% else %}${% endif %}</td>
                            <td><span>{% if cart_item.product.selling_price %}{{ cart_item.product.selling_price }}
                                </span> {% if cart_item.product.currency == 'sum' %}so'm{% else %}${% endif %}{% else %}
                                Qo'yilmagan{% endif %}</td>
                            <td>{{ cart_item.product.barcode }}</td>
                            <td>{{ cart_item.amount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <p>Jami: {{ total_cost_sum }} so'm</p>
                        <p>Jami: {{ total_cost_dollar }} $</p>
                    </td>
                    <td>
                        <p>Jami: {{ total_selling_price_sum }} so'm</p>
                        <p>Jami: {{ total_selling_price_dollar }} $</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tfoot>
                </table>
            </div>
            <hr>
        </div>
    </div>

    {% comment %}   <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Buyurtma</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="table__list">
						<h6>Maxsulot : <span>Eshik Rom</span> </h6><hr>
						<h6>Yetkazib Beruvchi : <span>Akfa</span></h6><hr>
						<h6>Ishlab chiqaruvchi : <span>Akfa</span> </h6><hr>
						<h6>Narxi : <input type="number" value="100000" class="form-control form-control-sm" name="" id=""></h6><hr>
						<h6>Sotish Narhi : <input type="number" value="200000" class="form-control form-control-sm" name="" id=""></h6><hr>
						<h6>Shtrix kod : <span>01234567891234</span></h6><hr>
						<input type="number" class="form-control form-control-sm" placeholder="Maxsulot sonini kiriting">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-light" data-dismiss="modal">Bekor qilish</button>
						<button type="button" class="btn btn-light">Buyurtma Berish</button>
					</div>
				</div>
			</div>
		</div>{% endcomment %}
    <!-- Modal -->
    {% comment %}   <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buyurtma</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="table__list">
                    <h6>Maxsulot : <span>Eshik Rom</span> </h6><hr>
                    <h6>Yetkazib Beruvchi : <span>Alutex</span></h6><hr>
                    <h6>Ishlab chiqaruvchi : <span>Alutex</span> </h6><hr>
                    <h6>Narxi: <input type="number" value="100000" class="form-control form-control-sm" name="" id=""></h6><hr>
                    <h6>Sotish Narhi : <input type="number" value="200000" class="form-control form-control-sm" name="" id=""></h6><hr>
                    <h6>Shtrix kod : <span>01234567891234</span></h6><hr>
                    <input type="number" class="form-control form-control-sm" placeholder="Maxsulot sonini kiriting">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Bekor qilish</button>
                    <button type="button" class="btn btn-light">Buyurtma Berish</button>
                </div>
            </div>
        </div>
    </div>{% endcomment %}
    {% comment %}  <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Buyurtma</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" id="table__list">
						<h6>Maxsulot : <span> Eshik Rom</span> </h6><hr>
						<h6>Yetkazib Beruvchi : <span> Imzo</span></h6><hr>
						<h6>Ishlab chiqaruvchi : <span> Imzo</span> </h6><hr>
						<h6>Narxi: <input type="number" value="100000" class="form-control form-control-sm" name="" id=""></h6><hr>
						<h6>Sotish Narhi : <input type="number" value="200000" class="form-control form-control-sm" name="" id=""></h6><hr>
						<h6>Shtrix kod : <span>01234567891234</span></h6><hr>
						<input type="number" class="form-control form-control-sm" placeholder="Maxsulot sonini kiriting">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-light" data-dismiss="modal">Bekor qilish</button>
						<button type="button" class="btn btn-light">Buyurtma Berish</button>
					</div>
				</div>
			</div>
		</div>
{% endcomment %}
{% endblock %}


{% block js %}
    <script src="{% static 'provider/assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            //Default data table
            var table = $('#example').DataTable({
                buttons: ['excel']
            });
            table.buttons().container().appendTo('#tovar_exel');
            var selectVal = $('#hodimlarFilialTanlash').val()
            $('#hodimlarFilialTanlash').on('change', function () {
                table.search(this.value).draw();
            });
            table.search(selectVal).draw();
        })
    </script>
{% endblock %}